.quizletQuiz {
    width: 700px;
    height: 400px;
    margin: 0;
    background-image: url(https://www.goodhire.com/hubfs/Q2_DG_ComplianceQuiz_Background.jpeg);
    position: relative;
}

.quizletQuiz  div {
    font-family: Source Sans Pro !important;
}

.quizletQuiz  p {
    color: rgb(255, 255, 255) !important;
    font-size: 30px !important;
    text-align: center;
    padding: 30px 10px 0px 10px;
    width: 680px;
    position: absolute;
}

.quizletQuiz  button {
    position: absolute;
    font-size: 24px;
    color: rgb(255, 255, 255);
    background-color: rgb(130, 193, 73);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 320px;
    height: 70px;
    cursor: pointer;
    transform: translate(0, 45px);
}

.quizletQuiz  button:focus {
    outline: 0;
}

.quizletQuiz  input {
    display: inline-block;
    width: 300px;
    height: 34px;
    margin-right: 15px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transform: translate(15px, 180px);
    box-sizing: content-box !important;
}

.quizletQuiz  select {
    display: block;
    font-size: 17px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    padding: 10px;
    transform: translate(15px, 190px);
    width: 510px;
    font-weight: normal;
}

#IntroText {
    padding: 80px 10px 0px 10px;
}

.quizletSlide {
    height: 115px;
}

#StartButton {
    transform: translate(190px, 200px);
}

#choice1 {
    transform: translate(25px, 225px);
}

#choice2 {
    transform: translate(355px, 225px);
}

#choice3 {
    transform: translate(25px, 305px);
}

#choice4 {
    transform: translate(355px, 305px);
}

#SubmitButton {
    position: absolute;
    transform: translate(165px, 205px);
}

#ErrorMessage {
    font-size: 17px !important;
    text-align: center;
    width: 670px;
    height: 30px;
    margin: 0 0 0 15px;
    transform: translate(0, 150px);
    padding: 0;
    visibility: hidden;
}

#ErrorMessageOn {
    background-color: #FF4136;
    visibility: visible !important;
    font-size: 17px !important;
    text-align: center;
    width: 670px;
    height: 30px;
    margin: 0 0 0 15px;
    transform: translate(0, 150px);
    padding: 0;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, blockquote, pre, a {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
